<!DOCTYPE html>
<html>
<head>
    <title> Logon Form </title>
    <link href="../../css/site.css" rel="stylesheet" type="text/css">
    <style>
        body {
            background: url("images/curtain.jpg") no-repeat;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
    </style>
</head>
<body>


<object data="../images/movie_exp.png" type="image/png">
    <img src="images/movie_exp.png" alt="example">
</object>

<p style="color: #3D9970">Please fill out the following:</p>
<form action="./logon.php" method="post">
    <span style="color: #3D9970">Username:</span><br>
    <input type="text" name="username" required>
    <br>
    <span style="color: #3D9970">Password:<br>
    <input type="text" name="password" required>
    <br>
    <input type="reset" value="Reset"> &#160;
    <input type="submit" value="Submit"><br><br>
</form>
<div id="p4_footer">
    <a  href="../index.html">ePortfolio</a>
</div>
</body>
</html>

